<div class="container">
        <div class="col-xs-6 group"></div>
       
    
        <div class="col-xs-6 group">
            <div class="row">
                <div class="col-xs-12">
                    <h4 class="login_heading">Login To Book Store</h4>
                </div>
            </div>
       
            <form [formGroup]="LoginForm" (ngSubmit)="onSubmit()">
        <div class="row">
            
            <div class="col-xs-10">
              <div class="form-group">
                <label for="name">Name</label>
                <input
                  type="text"
                  id="name"
                  placeholder="name"
                  formControlName="name"
                  class="form-control">
                  <span class="text-danger" *ngIf="LoginForm.controls['name'].touched && LoginForm.controls['name'].hasError('required')">
                    Name  field is required</span>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10">
              <div class="form-group">
                <label for="password">Password</label>
                <input
                  type="password"
                  id="password"
                  placeholder="password"
                  formControlName="password"
                  class="form-control">
                  <span class="text-danger" *ngIf="LoginForm.controls['name'].touched && LoginForm.controls['name'].hasError('required')">
                    Password  field is required</span>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10">
              <button
                type="submit"
                class="btn btn-success save_button_css"
                [disabled]="!LoginForm.valid"
                >Sign In</button>
              <p *ngIf="error" class="text-danger">{{ errorMessage}}</p>
            </div>
          </div>
        </form>
    </div>

</div>
